@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-background {
  height: 100vh;
  background: radial-gradient(circle at 25% 25%, #FF0080, transparent),
  radial-gradient(circle at 75% 75%, #7928CA, transparent),
  radial-gradient(circle at 50% 50%, #2B2D42, transparent),
  black;
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}