.info-bar {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
  color: white;
  font-size: 15px;


  .info-section {
    padding: 10px 20px;
    text-align: center;
    font-weight: 300;
  }

  .divider {
    height: 50px;
    width: 1px;
    background-color: #ffffff;
  }
}
@media(max-width:768px) {
  .info-bar {
    flex-direction: column; /* Устанавливаем вертикальное расположение */
    align-items: flex-start; /* Выравниваем элементы по началу */
    padding: 10px 10px; /* Сокращаем внутренние отступы */
    .info-section {
      padding: 10px 0; /* Уменьшаем горизонтальные отступы */
      width: 100%; /* Делаем секции шириной в 100% */
    }
    .divider {
      height: 1px;
      width: 100%;
      background-color: #ffffff;
      margin: 0;
    }
  }
}