* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; // Можно добавить фоновый цвет для улучшения контраста
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 420px;
    height: 450px;
    background: rgba(0, 0, 0, 0.5); // Немного затемним фон для улучшения контраста
    border: 2px solid rgba(255, 255, 255, 0.58);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: height 0.2s ease;
    overflow: hidden;

    .form-box {
        width: 100%;
        padding: 40px;

        h1 {
            font-size: 36px;
            text-align: center;
            color: #fff;
        }

        .input-box {
            position: relative;
            width: 100%;
            height: 50px;
            margin: 30px 0;

            input {
                width: 100%;
                height: 100%;
                background: transparent;
                outline: none;
                border: 2px solid rgba(250, 250, 250, 0.51);
                border-radius: 40px;
                font-size: 16px;
                color: #fff;
                padding: 20px 45px 20px 20px;

                &::placeholder {
                    color: #fff;
                }
            }

            .icon {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 16px;
                color: #fff;
            }
        }

        button {
            width: 100%;
            height: 45px;
            background: white;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            color: black;
            font-size: 16px;
            font-weight: 600;
            transition: background 0.3s, color 0.3s;

            &:hover {
                background: #ddd;
                color: black;
            }
        }

        .agree {
            display: flex;
            justify-content: space-between;
            font-size: 14.5px;
            margin: -15px 0 15px;
            color: #fff;

            label {
                display: flex;
                align-items: center;

                input {
                    margin-right: 5px;
                }
            }

            a {
                color: #fff;
                text-decoration: underline;
            }
        }

        .register-link {
            font-size: 14.5px;
            text-align: center;
            margin: 20px 0 15px;
            color: #fff;

            p {
                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .register {
        position: absolute;
        transform: translateX(400px);
        transition: none;
    }
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
        height: auto; // Позволяет контейнеру адаптироваться к контенту на малых экранах
        padding: 20px; // Добавим внутренние отступы для улучшения внешнего вида на малых экранах
    }

    .form-box {
        padding: 20px;

        h1 {
            font-size: 28px; // Уменьшим размер заголовка на малых экранах
        }

        .input-box {
            height: 40px;
            margin: 20px 0;

            input {
                padding: 10px 35px 10px 10px; // Уменьшим внутренние отступы
                font-size: 14px; // Уменьшим размер текста
            }

            .icon {
                right: 10px;
                font-size: 14px; // Уменьшим размер иконки
            }
        }

        button {
            height: 40px; // Уменьшим высоту кнопки
            font-size: 14px; // Уменьшим размер текста
        }

        .agree, .register-link {
            font-size: 12px; // Уменьшим размер текста
        }
    }

    .wrapper.active {
        height: auto; // Позволяет контейнеру адаптироваться к контенту на малых экранах
    }
}